.btn-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: #45a049;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #f9f9f9;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #555;
}


header h1 {
    color: #333;
}


.navbar a {
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar a:hover {
    color: #4CAF50;
}
